* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 2rem;
  color: #333;
  background-color: #f7f7f7;
  font-family: 'Roboto';
}

#container {
  padding: 1rem;
  width: 120rem;
  margin: 0 auto;
}
#container h1 {
  text-align: center;
  text-transform: uppercase;
  color: #5a2e3b;
}
  #container .flash-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    width: 100%;
    margin-top: 3rem;
    gap: 4rem;

}
#container .flash-card li {
  background-color: #7950f2;
  color: #ffebb3;
  padding: 3rem;
  list-style: none;
  width: 100%;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

#container .flash-card .active {
  background-color: #ffebb3;
  color: #5a3e2b;
  border: 1px solid #e7e7e7;
  border-radius: 10px;

}


