* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  color: #333;
  line-height: 1.5;
}

#container {
  margin: 1rem;
  padding: 2rem;
  border: 1px solid gray;
  font-weight: 400;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  background-color: #333;
  color: #fff;
}
#container .sub {
  background-color: rgba(147, 194, 194, 0.42);
  padding: 2rem;
}

#container h3 {
  padding: 2rem;
  font-weight: 700;
  text-align: center;
  font-size: 2rem;
}
#container p {
  text-align: justify;
  font-size: 1.4rem;
}

#container .list {
  display: flex;
  gap: 2rem;
  align-items: center;
}
#container img {
  width: 8rem;
  height: 8rem;

}